.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(36, 34, 34);
  position: fixed;
  width: 100vw;
  margin-top: -10px;
  z-index: 1;
}
.home,
.emp,
.abt {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
  margin-top: 15px;
}
.empglass,
.about,
.hhome {
  background: linear-gradient(
    135deg,
    rgba(225, 225, 225, 0.1),
    rgba(225, 225, 225, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(225, 225, 225, 0.18);
  height: 500px;
  width: 500px;
}

.aboutcont,
.homecont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.white {
  color: white;
}
.hhome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  margin-left: 100px;
  margin-top: 100px;
}
.space {
  margin-left: 50px;
  padding-right: 50px;
}
.name {
  margin-left: 50px;
  padding-right: 50px;
}
.pagination {
  display: flex;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonsdiv {
  margin-left: 510px;
  position: relative;
  margin-top: -130px;
}
.active {
  color: aqua;
}
